.sql_script{
	width:100%;
	margin:0 auto;
}
.html_script{
	width:100%;
	margin:0 auto;
}
.divlbl{
	width: 29%;
	text-align:left;
}
.divinp{
	width: 65%;
	float:left;
}
.divlbl_left{
	width:14%;
	float:left;
	text-align:left;
	margin-right: 0%;
}
.divinp_right{
	width: 85%;
    float: left;
    margin-left:0.5%;
    margin-right:0%;
}
.divlbl_13p{
	width:14%;
	float:left;
	text-align:left;
	text-align:left;
}
.pad-02 {
    padding: 5px 0px!important;
}
.wdth77p{
	width: 85%!important;
    margin-right: 0%;
}
#dashletProps{
	width: 100%;
}

.customtable {
    margin: 10px 0;
}

.label-name-cls{
    font-weight: normal;
    width: 160px;
    display: block;
    font-size:13px;
    margin: 0px;
    color:#000;
    min-height: 35px;
}

.form-control:focus{
    box-shadow: none !important;
}