<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
      		<PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n" />
   		</Console>
   		
		<Async name="RollingFile">
			<AppenderRef ref="RollingRandomAccessFile" />
		</Async>
	    <RollingRandomAccessFile
			name="RollingRandomAccessFile" fileName="logs/app.log"
			filePattern="logs/$${date:yyyy-MM-dd}/app-%d{dd-MM-yyyy}-%i.log.gz">
			<PatternLayout>
				<Pattern>%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="5 MB" />
			</Policies>
			<DefaultRolloverStrategy max="5"/>
		</RollingRandomAccessFile>
	   <!--  <SMTP name="Mail" subject=""  // mail subject
	    	from=""  // from mail id
	    	to="" // to mail id 
	    	cc="" // cc mail id 
          	smtpHost="" smtpPort="" 
          	bufferSize="512" 
        	smtpProtocol="smtp"
        	smtpDebug="true"
        	ignoreExceptions="false">
   		</SMTP> -->
   		<Async name="Async">
	    	<AppenderRef ref="Console"/>
	    	<AppenderRef ref="RollingFile"/>
	    	<!-- <AppenderRef ref="Mail"/> -->
	    </Async>
	</Appenders>

	<Loggers>
		<Root level="all">
	    	<AppenderRef ref="Async"/>
	    </Root>
	</Loggers>
</Configuration>

	